*{
    margin: 0px;
}
#contianer{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

#header{
    width:100%;
    height: 15%;
    background-color: red;
}

#main{
    height: 85%;
    width: 100%;
    overflow-y: scroll;
}

.box{
    width: 100%;
    height: 500px;
    /* background-color: brown; */
}
.subbox1{
    width: 100%;
    height: 50%;
    background-color: #13547a;
}
.subbox2{
    width: 100%;
    height: 50%;
    background-color: #80d0c7;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
